body{
    
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
.form-container{
    background-color: skyblue;
    opacity: 90%;
    padding: 20px 20px;
    border-radius: 10px;
}